<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PPDLoginVC</key>
	<dict>
		<key>说明</key>
		<string>注册页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_reg</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_reg</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>getVerificationCode:</key>
			<string>clk_idfycode</string>
			<key>loginBtn:</key>
			<string></string>
			<key>useraGreementBtn:</key>
			<string>clk_agmt_usr</string>
			<key>borrowUseraGreementBtn:</key>
			<string>clk_agmt_brw</string>
		</dict>
	</dict>
	<key>PPDNewUserHomeVC</key>
	<dict>
		<key>说明</key>
		<string>新用户首页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_idx</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_idx</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>goStartBorrowingBtn</key>
			<string>clk_begin</string>
		</dict>
	</dict>
	<key>PPDRealNameRegistVC</key>
	<dict>
		<key>说明</key>
		<string>实名认证页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_realname_auth</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_realname_auth</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>nextBtn:</key>
			<string>clk_next</string>
			<key>backToMainVC</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDIDCardAuthVC</key>
	<dict>
		<key>说明</key>
		<string>肖像认证/身份证照片上传验证</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_idcard_auth</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_idcard_auth</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>nextBtn:</key>
			<string>clk_next</string>
			<key>upLoadIdCardHoldAction:</key>
			<string>clk_idcard_2</string>
			<key>upLoadIdCardPositiveAction:</key>
			<string>clk_idcard_1</string>
			<key>backToMainVC</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDCompleteInfoVC</key>
	<dict>
		<key>说明</key>
		<string>完善信息页-基本信息</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_info_basic</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_info_basic</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>chooseEducationBtn</key>
			<string>clk_opt_edu</string>
			<key>chooseMarriageBtn</key>
			<string>clk_opt_marry</string>
			<key>chooseAddress</key>
			<string>clk_opt_area</string>
			<key>choosePhone</key>
			<string>clk_auth_mobile</string>
			<key>moreInformationBtn</key>
			<string>clk_auth_more</string>
			<key>completeBtn</key>
			<string>clk_finish</string>
			<key>pickerViewDetermineBtn:</key>
			<string></string>
			<key>backToMainVC</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDNewProgressTableVC</key>
	<dict>
		<key>说明</key>
		<string>借款进度页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_schedule</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_schedule</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>backToMainVC</key>
			<string>clk_quit</string>
			<key>getScheduleFromSever</key>
			<string>clk_bind_bankcard</string>
		</dict>
	</dict>
	<key>PPDBindBankCardVC</key>
	<dict>
		<key>说明</key>
		<string>银行卡绑定页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_bind_bankcard</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_bind_bankcard</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>goSelectBankBtn</key>
			<string>clk_opt_bank</string>
			<key>goTieOnCardBtn</key>
			<string>clk_bind_bankcard</string>
			<key>back</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDUserInfoVC</key>
	<dict>
		<key>说明</key>
		<string>人工资料页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_manual_info</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_manual_info</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>saveUserInfoPress:</key>
			<string>clk_save</string>
			<key>back</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDNewDrawCrshVC</key>
	<dict>
		<key>说明</key>
		<string>确认发标页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_ctr_cfm</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_ctr_cfm</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>goOutImmediatelyBtn:</key>
			<string>clk_ctr_cfm</string>
			<key>backView</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDDrawCashSuccessVC</key>
	<dict>
		<key>说明</key>
		<string>借款成功页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_ctr_succ</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>PageEventIDsQuit</key>
		<dict>
			<key>actionId</key>
			<string>vw_quit</string>
			<key>pageId</key>
			<string>wiz_ctr_succ</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>goToMainVC</key>
			<string>clk_home</string>
			<key>backToMainVC</key>
			<string>clk_quit</string>
		</dict>
	</dict>
	<key>PPDDQAlertView</key>
	<dict>
		<key>说明</key>
		<string>提示框</string>
		<key>ControlEventIDs</key>
		<dict>
			<key>cancelButtonClicked:</key>
			<string>clk_quit_real</string>
			<key>otherButtonClicked:</key>
			<string>clk_quit_fake</string>
		</dict>
	</dict>
	<key>PPDSourceHomeVC</key>
	<dict>
		<key>说明</key>
		<string>判断老首页还是新首页</string>
		<key>PageEventIDs</key>
		<dict>
			<key>actionId</key>
			<string>vw</string>
			<key>pageId</key>
			<string>wiz_idx</string>
			<key>moduleId</key>
			<string>WIZ</string>
			<key>actionStatus</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
